<section id="site-services">
    <input type="checkbox" id="toggle-dev">
    <input type="checkbox" id="toggle-qa">
    <input type="checkbox" id="toggle-career">
    <div class="container-3">
        <div class="services">
            <div class="service">
                <label for="toggle-dev">
                    <img src="{{site.baseurl}}/imgs/icon-dev.png" alt="Development services">
                    <h2>Development</h2>
                    <p>We develop custom applications in different programming languages.</p>
                </label>
            </div>
            <div class="service">
                <label for="toggle-qa">
                    <img src="{{site.baseurl}}/imgs/icon-qa.png" alt="SQA services">
                    <h2>Quality Assurance</h2>
                    <p>We have a team of software QA experts that follows Agile process.</p>
                </label>
            </div>
            <div class="service">
                <label for="toggle-career">
                    <img src="{{site.baseurl}}/imgs/icon-careers.png" alt="Careers services">
                    <h2>Careers</h2>
                    <p>We are a company growing and we might need you to join our family.</p>
                </label>
            </div>
        </div>
    </div>
    <div class="content-details">
        <div class="dev-content">
            <h3>Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit veniam placeat, nemo. Assumenda ipsum excepturi, qui, nesciunt provident non quia officia amet eveniet mollitia vero. Doloremque nulla odit velit labore consectetur dolorem repudiandae qui laboriosam sequi voluptas harum quaerat, repellendus vitae iure facere molestiae, perferendis cumque iste quam. Fugiat a cupiditate odit rerum, sed assumenda nostrum esse et atque nihil nobis, neque, minima natus. Necessitatibus, provident tempora eligendi. Laborum suscipit tempore quas accusamus quia. Laudantium quibusdam iure eligendi, alias, fugit repudiandae eaque, deserunt ratione aliquid iste ipsa laboriosam qui commodi adipisci libero consequuntur hic sapiente veniam repellat sint ex rem. Eveniet expedita soluta, natus, nisi odio voluptate. Incidunt officiis veritatis laborum, id deleniti fugiat iusto repudiandae laboriosam quas accusantium, dolore eaque eveniet laudantium voluptatem nihil.
            </p>
        </div>
        <div class="qa-content">
            <h3>Software Quality Assurance</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit, porro minus, impedit ex quaerat similique unde, consequatur est beatae quisquam atque dolores nisi id provident quae nesciunt harum velit? Possimus suscipit placeat delectus dolor cumque iusto culpa nam quae veritatis. Iste in quaerat aperiam sequi delectus vero voluptatibus quo consequuntur quas, minus itaque molestias praesentium facilis iusto amet ab temporibus deleniti assumenda rerum, placeat earum? Ipsum eaque aliquam animi pariatur iste labore minus voluptas necessitatibus excepturi officiis tempore temporibus quis nihil, repudiandae nemo explicabo nesciunt, consequatur incidunt a impedit:</p>
            <img src="{{site.baseurl}}/imgs/sqa-link.png">
        </div>
        <div class="career-content">
            <h3>Open Positions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nulla, officiis vel.</p>
            <ul>
                <li>Software Quality Assurance</li>
                <li>Software Developer</li>
            </ul>
            <p>Send us your resume at <a href="mailto:javlc.dev@gmail.com">javlc.dev@gmail.com</a></p>
        </div>
    </div>
</section>